<div class="about-section">
  <h1>Diner Dreams</h1>
  <h4>Since our modest beginnings in 2005 with a little space in Toronto’s stylish Yorkville locale, ‘Organization Name’ ‘s development has been enlivened with the energy to cook and serve solid, Indian-roused takeout food.</h4>
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/Images/das.jpg"alt="Jane" style="width:100%;height:22rem">
      <div class="container">
        <h2>Das Nobel</h2>
        <p class="title">Chef-Owner</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>das@mtxb2b.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/Images/sahil.jpg" alt="Mike" style="width:100%;height:22rem">
      <div class="container">
        <h2>Sahil Batra</h2>
        <p class="title">Executive Chef</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sahil@mtxb2b.com</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../assets/Images/deepak.jpg"  alt="John" style="width:100%;height:22rem">
      <div class="container">
        <h2>Vishwa Deepak Singh</h2>
        <p class="title">Sous Chef</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vishwa.singh@mtxb2b.com</p>
      </div>
    </div>
  </div>
</div>

